*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#CollectTopPage{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
}

#logo{
    width: 85px;
    height: 60px;
    margin-left: 20px;
    
}


#CollectTopPage div{
    width: 90%;
    padding-top: 10px;
}



#CollectTopPage div ul{
    list-style-type: none;
}

#CollectTopPage div ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

#CollectTopPage div ul li{
    margin: 0 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#CollectTopPage div ul li a{
    text-decoration: none;
    margin-left: 15px ;
    color: black;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#present_for_page{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 10%; 
    background-color: rgb(237, 237, 237);
}

#present_for_page nav{
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    margin: 10% 3%;
}

#titleMain{
    font-size: 85px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(6, 6, 6);
}

#LeftThanSection p{
    margin-top: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: rgb(45, 45, 45);
}

.styleButton{
    width: 150px;
    height: 40px;
}

#LeftThanSection button{
    color: white;
    margin: 4% 4% 4% 0;
}

#btn1_in_LeftThanSection{
    background-color: rgb(12,66,110);
    border-style: none;
}

#btn2_in_LeftThanSection{
    background-color: rgb(37,37,37);
    border-style: none;
}

#present_for_page nav img{
    width: 115%;
    height: 440px;
    
}

.SectionsInPage{
    margin: 14% 0 5% 0 ;
}


.TopSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 0;
}

.TopSection h1{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.TopSection h1 span{
    color: rgb(12,66,110);
}

.TopSection hr{
  padding: 3px 38px;  
  border-radius: 5px;
  background-color: black;
  border: solid 1px black;
}

.TopSection p{
    margin: 2% 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight: 600;

}

#DetailingAndPhoto{
    display: flex;
    flex-direction: row;
    margin: 0 15%;

}

.Detailing{
    height: 46.5%;
    font-size: 15px;
    display: flex;
    flex-flow: column wrap;
    justify-content: end;
    line-height: 26px;
    align-items: center;
    padding: 0 25px ;

}

.Detailing button{
    background: none;
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: black;
    margin-top: 10%;
}



#DetailingAndPhoto div h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(41, 41, 41);
    text-align: center;
}

#DetailingAndPhoto div p{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    display: flex;
    margin-top: 2%;
}

#DetailingAndPhoto div img{
    width: 100%;
    height: 75%;
}

#DetailingAndPhoto div button{
    display: block;
}

#img_background{
    background-image: url("images/img-4.png");
    background-repeat: no-repeat ;
    background-size: cover;
    height: 350px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#img_background h2{
    margin: 1% 0;
}

#img_background :first-child{
    padding: 0 5%;
}

#p_twoInImg_Background{
    padding: 0 15%;
    margin-bottom: 3%;
}


#benefits{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Main_Div_In_Nav_benefits{
    width: 20%;
    height: 50%;
}

.TopBenefits{
    display: flex;
    align-items: center;
    text-align: center ;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(12,66,110);
}

.cicala{
    text-align: center;
    border: 2px solid rgb(12,66,110);
    border-radius: 50%;
    margin: 0 4% 2% 0;
    font-size: 16px;
    padding: 2% 2%;
}

#benefits div p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}

#TestimonialClient{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 23%;
}


#TestimonialClient div{
    height: 150px;
    margin: 0 1% 0 2% ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    

}

#centnerText_InTestimonialClient{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: start;
    line-height: 25px;
}

#TestimonialClient div p{
    font-size: 19px;
    margin-bottom: 3%;
} 

#TestimonialClient div span{
    display: block;
    font-size: 19px;
    font-weight: bold;
    margin-top: 3%;
}

#TestimonialClient a{
    text-decoration: none;
    margin: 0 0 0 1.5%;
    color: rgb(12,66,110);
}


footer{
    background-color: rgb(52, 52, 52);
    padding: 5% 10% 1% 10%;
}

footer nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(172, 172, 172);

}

footer nav div ul{
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    font-weight: bold;
}

.titleMain_InFooter{
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    color: white;
    margin: 8% 0;
}

footer nav div ul li{
    margin: 6% 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}

footer nav div ul li div{
    display: flex;
    justify-content: left;
    align-items: center;
}

footer nav div ul li div img{
    margin-right:  7%;
}

footer nav div ol{
    list-style: none;
}

footer nav div ol li input{
   margin: 8% 0 2% ; 
   width: 200px; 
   height: 45px;
   text-align: center;
}

footer nav div ol li button{
    color: white;
    margin-top: 4%;
    background-color:rgb(12,66,110) ;
    border-style: none  ;
}

footer hr{
    margin: 3% 7% 1% 7% 
}

footer p{
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}

#footer_SocialMedia{
    display: flex;
    justify-content: center;
    padding-top: 5% ;
}

#footer_SocialMedia a{
    border-style: none;
    border-radius: 50%;
    padding: 0.8%;
    display: flex;
    justify-content: center;
    background-color: white;
    margin: 0 0.2%;
}

#footer_SocialMedia a img{
    width: 20px;
    height: 20px;
}










